# 1. Imports

In [16]:
import pandas as pd
from scipy import stats

# 2. Data set

In [11]:
state = pd.read_csv('data/state.csv')

In [12]:
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

# 3. Estimates of location

In [13]:
# Mean
state['Population'].mean()

6162876.3

In [17]:
stats.trim_mean(state['Population'], .1)

4783697.125