# Summary statistics

- `.mean()`
- `.mode()`
- `.min()`
- `.max()`
- `.var()`
- `.std()`
- `.sum()`
- `.quantile()`

# The `.agg()` method

In [1]:
def pct30(column):
    return column.quantile(0.3)

# Cumulative sum

- `.cumsum()`

# Cumulative statistics

- `.cummax()`
- `.cummin()`
- `.cumprod`

# Exercises

In [2]:
import pandas as pd

# Importing data sets
sales = pd.read_csv("sales_subset.csv")

## 1. Mean and median

Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

- Explore your new DataFrame first by printing the first few rows of the sales DataFrame.
- Print information about the columns in sales.
- Print the mean of the weekly_sales column.
- Print the median of the weekly_sales column.

In [3]:
# Print the head of the sales DataFrame
print(sales.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [4]:
# Print the info about the sales DataFrame
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None

In [5]:
# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())

23843.950148505668

In [6]:
# Print the median of weekly_sales
print(sales["weekly_sales"].median())

12049.064999999999

## 2. Summarizing dates

Summary statistics can also be calculated on date columns that have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example, minimum and maximum, which allow you to see what time range your data covers.

- Print the maximum of the date column.
- Print the minimum of the date column.

In [7]:
print(sales["date"].max())

2012-10-26

In [8]:
print(sales["date"].min())

2010-02-05

## 3. Efficient summaries
While pandas and NumPy have tons of functions, sometimes, you may need a different function to summarize your data.

The .agg() method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super-efficient. For example,

`df['column'].agg(function)`

In the custom function for this exercise, "IQR" is short for inter-quartile range, which is the 75th percentile minus the 25th percentile. It's an alternative to standard deviation that is helpful if your data contains outliers.

sales is available and pandas is loaded as pd.

- Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.

In [9]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

16.58333333333334

- Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.

In [10]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

- Update the aggregation functions called by .agg(): include iqr and np.median in that order.

In [11]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

## 4. Cumulative statistics

Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called `sales_1_1` has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.

In [37]:
df = pd.read_excel("sales_1_1.xlsx")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0                           12 non-null     int64
 1   store                   12 non-null     int64
 2   type                    12 non-null     object
 3   department              12 non-null     int64
 4         date              12 non-null     object
 5   weekly_sales            12 non-null     float64
 6   is_holiday              12 non-null     object
 7   temperature_c           12 non-null     float64
 8   fuel_price_usd_per_l    12 non-null     float64
 9   unemployment            12 non-null     float64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.1+ KB

- Sort the rows of sales_1_1 by the date column in ascending order.
- Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.
- Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.
- Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.

In [39]:
df.head()

,,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,5,1,A,1,2010-07-02,16333.14,False,27.172,0.705,7.787
1,0,1,A,1,2010-02-05,24924.50,False,5.728,0.679,8.106
2,4,1,A,1,2010-06-04,17558.09,False,27.050,0.715,7.808
3,9,1,A,1,2010-11-05,34238.88,False,14.856,0.710,7.838
4,8,1,A,1,2010-10-01,20094.19,False,22.161,0.688,7.838

In [43]:
df["store"]

KeyError: 'store'