# 0. Pacotes

In [112]:
import pandas as pd
import plotly.express as px

# 1. Carregando a base de dados

In [4]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [5]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1.1. Número de linhas e colunas

In [6]:
data.shape

(21613, 21)

- Temos 21.613 linhas e 21 colunas.

## 1.2. Nome das colunas

In [7]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 1.3. Ordenando as linhas pela variável `price`

In [8]:
data.sort_values('price') # ordem crescente

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [9]:
data.sort_values('price', ascending=False) # ordem decrescente

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882

# 2. Respondendo às perguntas

## 1. Quantas casas estão disponíveis para compra?

21.613 casas.

## 2. Quantos atributos as casas possuem?

Há 21 atributos.

## 3. Quais são os atributos das casas?

- 'id', 
- 'date', 
- 'price', 
- 'bedrooms', 
- 'bathrooms', 
- 'sqft_living',
- 'sqft_lot', 
- 'floors', 
- 'waterfront', 
- 'view', 
- 'condition', 
- 'grade',
- 'sqft_above', 
- 'sqft_basement', 
- 'yr_built', 
- 'yr_renovated', 
- 'zipcode',
- 'lat', 
- 'long', 
- 'sqft_living15', 
- 'sqft_lot15'

## 4. Qual a casa mais cara?

A casa mais cara é a do id 7252, que custa `$7.700.000`

## 5. Qual a casa com maior número de quartos?

In [11]:
data.sort_values('bedrooms', ascending=False) # ordem decrescente

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19452,3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850
8484,2310060040,20140925T000000,240000.0,0,2.50,1810,5669,2.0,0,0,...,7,1810,0,2003,0,98038,47.3493,-122.053,1810,5685
875,6306400140,20140612T000000,1095000.0,0,0.00,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
8477,2569500210,20141117T000000,339950.0,0,2.50,2290,8319,2.0,0,0,...,8,2290,0,1985,0,98042,47.3473,-122.151,2500,8751
9773,3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050

A casa com id 2402100895, com 33 quartos.

## 6. Qual a soma total de quartos do conjunto de dados?

In [12]:
data['bedrooms'].sum()

72854

Há 72.854 quartos no conjunto de dados como um todo.

## 7. Quantas casas possuem 2 banheiros?

In [14]:
data_2_wc = data[data['bathrooms'] == 2]

In [16]:
data_2_wc.shape

(1930, 21)

1930 casa possuem 2 banheiros.

## 8. Qual o preço médio de todas as casas no conjunto de dados?

In [19]:
data['price'].mean().round(2)

540088.14

As casas custam, em média, $ 540.088,14.

## 9. Qual o preço médio de casas com 2 banheiros?

In [20]:
data_2_wc['price'].mean().round(2)

457889.72

As casas com dois banheiros custam, em média, $ 457.889,72.

## 10. Qual o preço mínimo entre as casas com 3 quartos?

In [22]:
data_3_bedrooms = data[data['bedrooms'] == 3]

In [23]:
data_3_bedrooms.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711

In [24]:
data_3_bedrooms['price'].min()

82000.0

O preço mínimo de uma casa com 3 quartos é $ 82.000,00.

# 3. Novas perguntas do CEO

## 1. Qual a data do imóvel mais antigo no portfólio?

## 2. Quantos imóveis possuem o número máximo de andares?

## 3. Criar uma classificação para os imóveis, separando-os em baixo e alto padrão de acordo com o preço.

- Acima de $ 540.000 -> alto padrão
- Abaixo de $ 540.000 -> baixo padrão

## 4. Gostaria de um relatório ordenado pelo preço e contendo as seguintes informações:

- id do imóvel
- data que o imóvel ficou disponível para compra
- número de quartos
- o tamanho total do terreno
- o preço
- a classificação do imóvel (alto e baixo padrão)

## 5. Mapa indicando onde as casas estão localizadas geograficamente

# 4. Planejamento de solução:

## 4.1 Produto Final

- Email + 2 anexos
    + Email:
        - Texto: Perguntas e Respostas
    + Anexo:
        - Um relatório .csv
        - A foto de um mapa em html.

## 4.2 Ferramenta
- Python

## 4.3 Processo

- **Como fazer? (Resposndendo as perguntas)**

    - Ordenar o conjunto de dados pela menor data
    - Encontrar os números de andares e determinar o maior
    - Contar quantos imóveis tenho com esta quantidade de andares
    - Criar uma nova coluna chamada de standard
        + Para cada linha eu vou comparar a coluna "price"
        + Se "price" > 540.000 -> high_standard
        + Se "price" < 540.000 -> low_standard
        
    - Selecionar as colunas desejadas (ou excluir as não desejadas)
    - Buscar uma biblioteca para criar mapas
    - Aprender a usar a função de criar mapas

# 5. Tipos de variáveis em Python

- Numérica: integer, float
- Categóricas: character, string
- Dates: date, timestamp
    + date: Ano-Mes-Dia
    + timestamp: Ano-Mes-Dia H:M:S

- Identifique os tipos de variáveis, pois as operações vão depender disso. `dtypes`

In [26]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

- Tipos de variáveis:

In [36]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

- Temos que converter de object para date, a variável date.

In [29]:
data['date'] = pd.to_datetime(data['date'])

In [32]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 5.1. Convertendo de diferentes formatos

### Inteiro -> Float

In [34]:
data['bedrooms'] = data['bedrooms'].astype(float)

### Float -> Inteiro

In [35]:
data['bedrooms'] = data['bedrooms'].astype(int)

# 6. Manipulação de dados

- Criar 
- Deletar
- Selecionar:
    + Forma 01: Pelo nome das colunas
    + Forma 02: Pelos índices das colunas
    + Forma 03: Pelos índices das linhas e pelos nomes das colunas
    + Forma 04: Usando operador booleano

In [40]:
data1 = data.copy()

In [41]:
data1.head

<bound method NDFrame.head of                id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0         3       1.00         1180
1      6414100192 2014-12-09  538000.0         3       2.25         2570
2      5631500400 2015-02-25  180000.0         2       1.00          770
3      2487200875 2014-12-09  604000.0         4       3.00         1960
4      1954400510 2015-02-18  510000.0         3       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0         3       2.50         1530
21609  6600060120 2015-02-23  400000.0         4       2.50         2310
21610  1523300141 2014-06-23  402101.0         2       0.75         1020
21611   291310100 2015-01-16  400000.0         3       2.50         1600
21612  1523300157 2014-10-15  325000.0         2       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...      7        1180
1          7242     2.0           0     0  ...      7        2170
2         10000     1.0           0     0  ...      6         770
3          5000     1.0           0     0  ...      7        1050
4          8080     1.0           0     0  ...      8        1680
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...      8        1530
21609      5813     2.0           0     0  ...      8        2310
21610      1350     2.0           0     0  ...      7        1020
21611      2388     2.0           0     0  ...      8        1600
21612      1076     2.0           0     0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 21 columns]>

In [42]:
data1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 6.1. Criação de variáveis

In [45]:
# Criando uma nova variável
data1['meu_nome'] = "neidinha"

# Checando 
data1[['id', 'date', 'meu_nome']]

               id       date  meu_nome
0      7129300520 2014-10-13  neidinha
1      6414100192 2014-12-09  neidinha
2      5631500400 2015-02-25  neidinha
3      2487200875 2014-12-09  neidinha
4      1954400510 2015-02-18  neidinha
...           ...        ...       ...
21608   263000018 2014-05-21  neidinha
21609  6600060120 2015-02-23  neidinha
21610  1523300141 2014-06-23  neidinha
21611   291310100 2015-01-16  neidinha
21612  1523300157 2014-10-15  neidinha

[21613 rows x 3 columns]

In [46]:
# Criando data
data1['data_nasc'] = pd.to_datetime('1990-05-22')

In [47]:
# Checando 
data1[['id', 'date', 'meu_nome', 'data_nasc']]

               id       date  meu_nome  data_nasc
0      7129300520 2014-10-13  neidinha 1990-05-22
1      6414100192 2014-12-09  neidinha 1990-05-22
2      5631500400 2015-02-25  neidinha 1990-05-22
3      2487200875 2014-12-09  neidinha 1990-05-22
4      1954400510 2015-02-18  neidinha 1990-05-22
...           ...        ...       ...        ...
21608   263000018 2014-05-21  neidinha 1990-05-22
21609  6600060120 2015-02-23  neidinha 1990-05-22
21610  1523300141 2014-06-23  neidinha 1990-05-22
21611   291310100 2015-01-16  neidinha 1990-05-22
21612  1523300157 2014-10-15  neidinha 1990-05-22

[21613 rows x 4 columns]

In [48]:
data1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
meu_nome                 object
data_nasc        datetime64[ns]
dtype: object

## 6.2. Deletando variáveis

In [54]:
data2 = data1.drop(['meu_nome'], axis = 1)

In [55]:
data1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'meu_nome', 'data_nasc'],
      dtype='object')

In [56]:
data2.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'data_nasc'],
      dtype='object')

In [ ]:
- Deletando uma lista de variáveis:

In [57]:
data2 = data1.drop(['meu_nome', 'data_nasc'], axis = 1)

In [58]:
data2.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 6.3. Selecionando variáveis

### 6.3.1. Direto pelo nome das colunas

In [59]:
data['price']

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [60]:
data[['id', 'date']]

               id       date
0      7129300520 2014-10-13
1      6414100192 2014-12-09
2      5631500400 2015-02-25
3      2487200875 2014-12-09
4      1954400510 2015-02-18
...           ...        ...
21608   263000018 2014-05-21
21609  6600060120 2015-02-23
21610  1523300141 2014-06-23
21611   291310100 2015-01-16
21612  1523300157 2014-10-15

[21613 rows x 2 columns]

### 6.3.2. Direto pelos índices das linhas e colunas

In [62]:
data.iloc[0:10, 0:3]

           id       date      price
0  7129300520 2014-10-13   221900.0
1  6414100192 2014-12-09   538000.0
2  5631500400 2015-02-25   180000.0
3  2487200875 2014-12-09   604000.0
4  1954400510 2015-02-18   510000.0
5  7237550310 2014-05-12  1225000.0
6  1321400060 2014-06-27   257500.0
7  2008000270 2015-01-15   291850.0
8  2414600126 2015-04-15   229500.0
9  3793500160 2015-03-12   323000.0

In [63]:
data.iloc[:, :] # tudo

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [64]:
data.iloc[0:5, :]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### 6.3.3. Índices das linhas e nomes das colunas

In [66]:
data.loc[0:10, ['id', 'price']]

            id      price
0   7129300520   221900.0
1   6414100192   538000.0
2   5631500400   180000.0
3   2487200875   604000.0
4   1954400510   510000.0
5   7237550310  1225000.0
6   1321400060   257500.0
7   2008000270   291850.0
8   2414600126   229500.0
9   3793500160   323000.0
10  1736800520   662500.0

### 6.3.4. Índices booleanos

In [68]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [77]:
cols = [True, True, True, True, True, True, True, False, True, True, False, True, False, True, False, True, False, True, False, True, False]

In [78]:
len(cols)

21

In [79]:
data.loc[0:10, cols]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,view,grade,sqft_basement,yr_renovated,lat,sqft_living15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,0,0,7,0,0,47.5112,1340
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,0,0,7,400,1991,47.7210,1690
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,0,0,6,0,0,47.7379,2720
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,0,0,7,910,0,47.5208,1360
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,0,0,8,0,0,47.6168,1800
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,0,0,11,1530,0,47.6561,4760
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,0,0,7,0,0,47.3097,2238
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,0,0,7,0,0,47.4095,1650
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,0,0,7,730,0,47.5123,1780
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,0,0,7,0,0,47.3684,2390
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,0,0,8,1700,0,47.6007,2210

# 7. Respondendo às perguntas de negócio

In [80]:
# 1. Data mais antiga
data.sort_values('date', ascending = True)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16768,5561000190,2014-05-02,437500.0,3,2.25,1970,35100,2.0,0,0,...,9,1970,0,1977,0,98027,47.4635,-121.991,2340,35100
9596,472000620,2014-05-02,790000.0,3,2.50,2600,4750,1.0,0,0,...,9,1700,900,1951,0,98117,47.6833,-122.400,2380,4750
9587,1024069009,2014-05-02,675000.0,5,2.50,2820,67518,2.0,0,0,...,8,2820,0,1979,0,98029,47.5794,-122.025,2820,48351
20602,7853361370,2014-05-02,555000.0,4,2.50,3310,6500,2.0,0,0,...,8,3310,0,2012,0,98065,47.5150,-121.870,2380,5000
11577,5056500260,2014-05-02,440000.0,4,2.25,2160,8119,1.0,0,0,...,8,1080,1080,1966,0,98006,47.5443,-122.177,1850,9000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7898,1422700040,2015-05-14,183000.0,3,1.00,1170,7320,1.0,0,0,...,7,1170,0,1962,0,98188,47.4685,-122.282,2040,7320
928,8730000270,2015-05-14,359000.0,2,2.75,1370,1140,2.0,0,0,...,8,1080,290,2009,0,98133,47.7052,-122.343,1370,1090
5637,7923600250,2015-05-15,450000.0,5,2.00,1870,7344,1.5,0,0,...,7,1870,0,1960,0,98007,47.5951,-122.144,1870,7650
13053,5101400871,2015-05-24,445500.0,2,1.75,1390,6670,1.0,0,0,...,6,720,670,1941,0,98115,47.6914,-122.308,920,6380
16594,9106000005,2015-05-27,1310000.0,4,2.25,3750,5000,2.0,0,0,...,8,2440,1310,1924,0,98115,47.6747,-122.303,2170,4590

In [81]:
# 2. Quantos imóveis com andares máximo?
data['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

- O máximo é 3.5.

In [82]:
data[data['floors'] == 3.5]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
875,6306400140,2014-06-12,1095000.0,0,0.00,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
10077,1972202010,2014-08-01,435000.0,3,3.00,1440,1350,3.5,0,2,...,8,1440,0,2005,0,98103,47.6525,-122.345,1440,1350
11594,3180100023,2015-01-30,544000.0,3,2.50,1760,1755,3.5,0,0,...,8,1760,0,1998,0,98105,47.6688,-122.279,1700,1721
14885,8673400177,2015-04-02,525000.0,3,3.00,1730,1074,3.5,0,0,...,8,1730,0,2006,0,98107,47.6692,-122.392,1370,1185
15424,1702900664,2015-04-16,479000.0,2,2.50,1730,1037,3.5,0,0,...,8,1730,0,2008,0,98118,47.5594,-122.285,1280,1026
18477,1346300150,2014-10-20,3300000.0,8,4.00,7710,11750,3.5,0,0,...,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
20308,1972200426,2014-09-18,525000.0,2,2.75,1310,1268,3.5,0,0,...,8,1310,0,2007,0,98103,47.6534,-122.355,1350,1288
20772,1972200428,2014-06-25,563500.0,3,2.50,1400,1312,3.5,0,0,...,8,1400,0,2007,0,98103,47.6534,-122.355,1350,1312

In [84]:
data[data['floors'] == 3.5][['id', 'floors']]

               id  floors
875    6306400140     3.5
10077  1972202010     3.5
11594  3180100023     3.5
14885  8673400177     3.5
15424  1702900664     3.5
18477  1346300150     3.5
20308  1972200426     3.5
20772  1972200428     3.5

In [86]:
data[data['floors'] == 3.5][['id', 'floors']].shape

(8, 2)

In [ ]:
- 8 imóveis tem andares 3.5.

In [87]:
# 3. Criar classificação
data['level'] = 'standard'

In [89]:
data['price'] > 540000

0        False
1        False
2        False
3         True
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: price, Length: 21613, dtype: bool

In [92]:
data.loc[data['price'] > 540000, 'level']

3        standard
5        standard
10       standard
15       standard
21       standard
           ...
21598    standard
21599    standard
21600    standard
21605    standard
21606    standard
Name: level, Length: 7919, dtype: object

In [93]:
data.loc[data['price'] > 540000, 'level'] = 'high_level'

In [94]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,level
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,standard
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,standard
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,standard
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,high_level
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,standard

In [95]:
data.loc[data['price'] < 540000, 'level'] = 'low_level'

In [96]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,level
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,low_level
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,low_level
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,low_level
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,high_level
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,low_level

In [101]:
# 4. Relatório ordenado pelo preço
data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']]

               id       date     price  bedrooms  sqft_lot       level
0      7129300520 2014-10-13  221900.0         3      5650   low_level
1      6414100192 2014-12-09  538000.0         3      7242   low_level
2      5631500400 2015-02-25  180000.0         2     10000   low_level
3      2487200875 2014-12-09  604000.0         4      5000  high_level
4      1954400510 2015-02-18  510000.0         3      8080   low_level
...           ...        ...       ...       ...       ...         ...
21608   263000018 2014-05-21  360000.0         3      1131   low_level
21609  6600060120 2015-02-23  400000.0         4      5813   low_level
21610  1523300141 2014-06-23  402101.0         2      1350   low_level
21611   291310100 2015-01-16  400000.0         3      2388   low_level
21612  1523300157 2014-10-15  325000.0         2      1076   low_level

[21613 rows x 6 columns]

In [102]:
data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending = False)

               id       date      price  bedrooms  sqft_lot       level
7252   6762700020 2014-10-13  7700000.0         6     27600  high_level
3914   9808700762 2014-06-11  7062500.0         5     37325  high_level
9254   9208900037 2014-09-19  6885000.0         6     31374  high_level
4411   2470100110 2014-08-04  5570000.0         5     35069  high_level
1448   8907500070 2015-04-13  5350000.0         5     23985  high_level
...           ...        ...        ...       ...       ...         ...
8274   3883800011 2014-11-05    82000.0         3     10426   low_level
16198  3028200080 2015-03-24    81000.0         2      9975   low_level
465    8658300340 2014-05-23    80000.0         1      5050   low_level
15293    40000362 2014-05-06    78000.0         2     16344   low_level
1149   3421079032 2015-02-17    75000.0         1     43377   low_level

[21613 rows x 6 columns]

In [104]:
report = data[['id', 'date', 'price', 'bedrooms', 'sqft_lot', 'level']].sort_values('price', ascending = False)

In [105]:
report.to_csv('datasets/report_aula02.csv', index = False)

In [ ]:
# 5. Mapear as casas geograficamente

- Vamos usar o Plotly
- A função a ser utilizada é: Scatter MapBox

In [111]:
data_mapa = data[['id', 'lat', 'long', 'price']]

In [121]:
mapa = px.scatter_mapbox(data_mapa, lat = 'lat', lon = 'long', 
                         hover_name = 'id',
                         hover_data = ['price'],
                         color_discrete_sequence = ['fuchsia'],
                         zoom = 5,
                         height = 300)

In [124]:
mapa.update_layout(mapbox_style = 'open-street-map')
mapa.update_layout(height = 600, margin={'r':0, 't':0, 'l':0, 'b':0})
mapa.show

<bound method BaseFigure.show of Figure({
    'data': [{'customdata': array([[221900.],
                                   [538000.],
                                   [180000.],
                                   ...,
                                   [402101.],
                                   [400000.],
                                   [325000.]]),
              'hovertemplate': ('<b>%{hovertext}</b><br><br>lat' ... '{customdata[0]}<extra></extra>'),
              'hovertext': array([7.12930052e+09, 6.41410019e+09, 5.63150040e+09, ..., 1.52330014e+09,
                                  2.91310100e+08, 1.52330016e+09]),
              'lat': array([47.5112, 47.721 , 47.7379, ..., 47.5944, 47.5345, 47.5941]),
              'legendgroup': '',
              'lon': array([-122.257, -122.319, -122.233, ..., -122.299, -122.069, -122.299]),
              'marker': {'color': 'fuchsia'},
              'mode': 'markers',
              'name': '',
              'showlegend': False,
              'subplot': 'mapbox',
              'type': 'scattermapbox'}],
    'layout': {'height': 600,
               'legend': {'tracegroupgap': 0},
               'mapbox': {'center': {'lat': 47.56005251931708, 'lon': -122.21389640494147},
                          'domain': {'x': [0.0, 1.0], 'y': [0.0, 1.0]},
                          'style': 'open-street-map',
                          'zoom': 5},
               'margin': {'b': 0, 'l': 0, 'r': 0, 't': 0},
               'template': '...'}
})>

- Salvando o mapa em html.

In [123]:
mapa.write_html('datasets/map_house_rocket.html')

- Mais informações sobre os mapas com plotly: https://plotly.com/python/scattermapbox/

# 8. Mais perguntas (Exercícios)

1. Crie uma nova coluna chamada: "house_age"
    + Se o valor da coluna "date" for maior do que 2014-01-01 => 'new_house'
    + Caso contrário => 'old_house'

2. Crie uma nova coluna chamada: "dormitory_type"
    + Se o valor da coluna "bedrooms" for igual a 1 => 'studio'
    + Se o valor da coluna "bedrooms" for igual a 2 => 'apartment'
    + Se o valor da coluna "bedrooms" for maior que 2 => 'house'